#root,
body,
html {
  height: 100%;
  /* max-height: -webkit-fill-available;
  min-height: -webkit-fill-available; */
  overflow: hidden;
}
#root {
  display: flex;
  position: relative;
  flex-direction: column;
}
