.tw-page-with-header .ant-page-header-footer,
h1 {
  margin: 0;
}

.tw-page-with-header .trigger {
  color: black;
  padding-top: 2px;
}
.tw-page-with-header .trigger:hover {
  color: rgb(80, 79, 79);
}

.tw-page-with-header-content {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
}

.tw-page-with-header-user-menu .ant-dropdown-menu-item-group-list {
  margin: 0;
}

.user-icon .ant-avatar > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-icon .ant-avatar > img:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transform-origin: center;
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
