.user-icon:hover {
  opacity: 90%;
}

.user-icon {
  cursor: pointer;
  /* background-color: rgba(82, 82, 82, 0.3); */
  /* outline: 1.2px rgba(110, 110, 110, 0.781) solid; */
  color: white;
}

.tw-page-with-header :global(.ant-page-header-footer),
h1 {
  margin: 0;
}

.tw-page-with-header .trigger {
  color: black;
  padding-top: 2px;
}

.tw-page-with-header .trigger:hover {
  color: rgb(80, 79, 79);
}

.tw-page-with-header-content {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 12.5px;
}

.x-scroll {
  overflow-x: overlay;
}

.y-scroll {
  overflow-y: overlay;
}

.tw-page-with-header-user-menu :global(.ant-dropdown-menu-item-group-list) {
  margin: 0;
}

.user-icon :global(.ant-avatar) > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-icon :global(.ant-avatar) > img:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transform-origin: center;
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
