.side-menu-top-bar .trigger {
  padding: 0 0 3.5px 0;
  transition: color 0.3s;
  color: hsla(0, 0%, 100%, 0.65);
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
}

:global(.ant-layout-sider-collapsed) .side-menu-top-bar .trigger {
  display: none;
}

.side-menu-top-bar .trigger:hover {
  color: #fff;
}

.main-layout-sider .main-layout-menu {
  flex: 1 1 0;
  overflow-y: overlay;
  overflow-x: hidden;
}

a.mynavIcon:hover {
  color: #17a2b8;
}
.mynavIcon {
  white-space: nowrap;
}

a.mynavIcon {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  opacity: 90%;
}

.side-menu-top-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0rem 16px;
  overflow: hidden;
}

.app-logo {
  margin-right: 3px;
  margin-bottom: 5px;
}

.main-layout-sider :global(.ant-layout-sider-children) {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-layout-sider .side-menu-top-bar {
  flex: 0 0 65.195px;
}

.main-layout-sider
  :global(.ant-menu-dark):global(.ant-menu-dark):not(:global(.ant-menu-horizontal))
  :global(.ant-menu-item-selected) {
  background-color: #1672c9cc;
}

.main-layout-sider :global(.ant-menu-item) {
  font-size: 16px;
}
